@charset "utf-8";
/* CSS Document */



body
{background-color:#FFF;
}


.hd1
{
	width: 800px;
	height: 30px;
	float: left;
	/* margin: 20px 0px 0px 30px; */
	text-align: left;
	font-weight: bold;
	font-size: 18px;
	border-color:#000;
	
	}
	